# =========================
# Python / Bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual env
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
.wheels/

# =========================
# PyInstaller
# =========================
*.spec

# =========================
# Nuitka
# =========================
*.bin
*.exe
*.app
*.dist/
*.build/
*.onefile-build/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# dotenv
# =========================
.env

# =========================
# Unit test / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.coverage.*
.cache/

# =========================
# Type check / lint cache
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Local temp
# =========================
tmp/
temp/
